.students-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.students-table-container table {
  border: 1px solid var(--table-border);
  border-collapse: separate;
  border-spacing: 0 0;
  width: 800px;
  border-radius: 10px;
  table-layout: fixed;
}

thead th {
  border-bottom: 1px solid var(--table-border);
  padding-left: 10px;
  cursor: pointer;
}

thead th:first-child {
  width: 500px;
}

thead th:last-child {
  border-right: 0;
}

.label-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}

.sort {
  display: flex;
  flex-direction: column;
}

.sort i {
  font-size: 14px;
}

.sort i:first-child {
  margin-bottom: -7px;
}

.sort i:last-child {
  margin-top: -7px;
}

tbody tr td {
  padding: 10px;
  border-bottom: 1px solid var(--table-border-light);
}

tbody tr {
  cursor: pointer;
  transition: 50ms ease-in-out;
}

tbody tr:hover {
  background-color: rgb(241, 241, 241);
}

tbody tr:last-child td {
  border-bottom: 0;
}

.row.one {
  display: flex;
  align-items: center;
  gap: 10px;
}

.row.one img {
  border-radius: 50%;
}
